/* Damos estilo a nuestro canvas (lienzo). */
#canvas {
    background-color: black;
    border-color: white;
    border-width: 6px;
    border-style: solid;
    align-content: center;
    margin-top: 70px;
    margin-left: 530px;
}
/* Icono o favicon de la cabecera del título de la pestaña de la Pág Web. */
#icon {
    width: 20px;
    height: 20px;
}
/* Damos estilo a la propia página web html. */
body {
    background-color: black;
}
/* Damos estilo al título del juego. */
.title {
    align-content: center;
    color: chartreuse;
}
    #princ {
        margin-left: 530px;
        margin-top: 30px;
    }
    #secun {
        margin-left: 775px;
        margin-top: -50px;
    }