body {
    background-color: cyan;
}
/* Diseño de mi calculadora en general. Dándola estilos css. */
.MyCalcu {
    display: block;
    margin: 0 auto;
    padding: 170px;
    background-color:gainsboro;
    width: 300px;
    height: 500px;
    border-radius: 20px 20px 20px 20px;
    border: 10px groove;
    border-color:goldenrod;
}
/* Esto sirve para que los botones estén dentro de la calculadora y encuadrados. */
.MyCalcu td button {
    display: block;
    width: 55px;
    height: 55px;
    font-size: 20px;
    background-color: blue;
    color: white;
}
#firstline {
    
}
#display {
    display: block;
    text-align: right;
    margin-top: -90px;
    margin-right: 90px;
    margin-left: -400px;
    font-size: 40px;
    margin-bottom: 50px;
    background-color:black;
    color: white;
    width: 280px;
    height: 90px;
    line-height: 90px;
    border-radius: 20px 20px 20px 20px;
    border: 5px groove;
    border-color:goldenrod;
    /* Para no salirnos del display */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip clip;
}
#logHuawei {
    display: block;
    margin-top: 15px;
    margin-left: 510px;
    width: 100px;
    height: 65px;
}
#logmodel {
    display: block;
    margin-top: 25px;
    margin-right: 510px;
    width: 90px;
    height: 45px;
}