/* Hoja de estilos en CSS */

/* Definimos el fondo del CV y, el marco
de fuera. */
body {
    background-image: url("https://us.123rf.com/450wm/yamabikay/yamabikay1610/yamabikay161000356/65548130-la-textura-de-la-textura-de-color-marr%C3%B3n-claro-la-textura-de-alta-calidad-en-muy-alta-resoluci%C3%B3n.jpg?ver=6");
    width: 1400px;
    height: 1750px;
    margin: 30px;
    border: solid;
    border-width: 10px;
    border-color: goldenrod;
}
    /* Etiqueta que define las características
    de la imagen o foto CV. */
    #peetaimg {
        margin-top: 80px;
        margin-left: 80px;
        border-style: groove;
        border-width: 10px;
        border-color: goldenrod;
    }
    /* Etiqueta que define las características
    del título y pie de título. */
    .encab {
        width: 850px;
        margin-left: 400px;
    }
        /* Etiqueta que define las características
        del título = Peeta Mellark. */
        #title {
            color: black;
            font-size: xxx-large;
            margin-top: -205px;
            font-family: "Tahoma", sans-serif;
            font-size: 60px;
        }
        /* Etiqueta que define las características
        del pie de título. */
        #phrase {
            color: blue;
            margin-top: -30px;
            font-size: 18px;
            font-style: oblique;
        }

    /* Etiquetas que definen las características
    de los encabezados de las secciones izquierdas. */
    .sectionizq {
        margin-left: 95px;
        color: black;
        font-family: "Tahoma", sans-serif;
        font-size: 20px;
    }
        /* Etiqueta que define las características
        de "Sobre mí". */
        #about {
            margin-top: 120px;
        }
        /* Etiqueta que define las características
        de "Contacto", "Localización" e "Idiomas" */
        #rest {
            margin-top: 35px;
        }
    
    /* Etiquetas que definen las características
    de las descripciones de los encabezados
    de las secciones izquierdas. */    
    .descripizq {
        width: 235px;
        margin-top: -17px;
        margin-left: 88px;
        color: black;
        font-size: 12px;
    }
        /* Etiqueta que define las características
        de la descripción de "Localización". */
        #descrip {
            width: 245px;
        }
            /* Etiquetas que definen las características
            del icono de instagram que hace de pulsador al link
            que tiene. */
            #insta {
                width: 25px;
                height: 25px;
            }
            /* Etiqueta que define las características
            del icono de ubicación, usado para
            la descripción de la "Localización" */
            #ubica {
                width: 30px;
                height: 30px;
            }
            /* Etiqueta que define las características
            de los iconos de las lenguas aborígenes
            de Panem, usados para
            la descripción de los "Idiomas" */
            #flag {
                width: 35px;
                height: 25px;
            }