/* Hoja de estilos en CSS */

/* Definimos el fondo del CV */
body {
    background-image: url("https://us.123rf.com/450wm/yamabikay/yamabikay1610/yamabikay161000356/65548130-la-textura-de-la-textura-de-color-marr%C3%B3n-claro-la-textura-de-alta-calidad-en-muy-alta-resoluci%C3%B3n.jpg?ver=6");
}
#peetaimg {
    margin-top: 40px;
    margin-left: 40px;
    border-style: groove;
    border-color: grey;
}
#title {
    color: black;
    margin-top: -100px;
}
.encab {
    color: blue;
    margin-top: -60px;
    margin-left: 500px;
    margin-right: 500px;
}