/* Color de fondo de la página HTML. */
body {
    background-color:burlywood;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* Diseño del icono o favicon del videojuego retro. */
#icon {
    width: 700px;
    height: 680px;
}
/* Diseño del logo del título del juego en pag HTML. */
#logo {
    width: 50px;
    height: 50px;
}
/* Diseño del título del videojuego retro: Kick Blocks Game. */
h1 {
    text-align: center;
    font: bold 60px Tahoma;
    color: red;
    margin-bottom: 60px;
    margin-top: 60px;
}
/* Diseño del subtítulo del videojuego retro: Kick Blocks Game. */
#subtitle {
    text-align: center;
    font: bold 40px Tahoma;
    color: red;
    margin-bottom: 60px;
    margin-top: 60px;
}
/* Damos estilo a nuestro canvas (lienzo) del videojuego retro. */
#canvas {
    background-color: black;
    border-color:chocolate;
    border-width: 8px;
    border-style: solid;
    border-radius: 15px;
    /* Para centrar el lienzo. */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Diseño del título de las instrucciones de juego. */
h4 {
    color: black;
    text-align: center;
    font: bold 25px Tahoma;
    margin-top: 50px;
}
/* Diseño de la fila de la descripción del control de la raqueta del canvas y su inicio con espacio. */
p {
    color: darkblue;
    text-align: center;
    font: bold 18px Tahoma;
    margin-left: 390px;
    margin-right: -300px;
}