/* Diseño del icono o favicon de la Pag HTML. */
#icon {
    width: 25px;
    height: 25px;
}
/* Diseño del icono o favicon de la pestaña de la Pag HTML. */
#cabecera {
    font-style: italic;
    font-size: large;
    color: black;
    background-color: blanchedalmond;
}