/* Diseño del icono o favicon de la pestaña de la pag HTML. */
#icon {
    width: 118px;
    height: 114px;
}
/* Diseño del fondo de la P4 con una imagen. */
body {
    background-image: url('Fondo.jpg');
    background-size: cover;
    position: absolute;
}